#admo-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

#admo-menu-list li {
  padding: 12px;
  border: 1px solid #ddd;
  margin-bottom: 8px;
  background: #fff;
  cursor: move;
  display: flex;
  align-items: center;
}

#admo-save-order {
  margin-top: 30px;
}

button.edit-menu-item svg {
  width: 12px;
  height: 12px;
}

button.edit-menu-item {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

input.menu-title-input {
  border: 1px solid #ccc;
}

button.save-menu-item {
  display: inline-block;
  background: #2271b1;
  border: none;
  height: 30px;
  width: 50px;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  margin-left: 10px;
}

span.menu-order {
  width: 20px;
  height: 20px;
  background: #2271b1;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  font-size: 12px;
  color: #fff;
}

span.menu-title {
  font-size: 14px;
  font-weight: 500;
}


.our-products {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 15px 0;
}

.products-list {
    display: flex;
    gap: 8px;
}

a.product-item {
    background: #2271b1;
    color: #fff;
    font-weight: 400;
    padding: 6px 12px;
    text-decoration: none;
    border-radius: 50px;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
}

a.product-item:hover {
    background: #0c7429;
}